/* COLOR PALETTE */
/* BG: 131313*/
/* NAVBAR: 000000*/
/* TEXT: fff4e0*/
/* BUTTONS: 809b4c*/
/* ACCENTS/LINK: 449489*/
/* LINK AFTER: 285763 */

:root {
    --bg-main: #131313;
    --nav-bg: #000000;
    --text-main: #fff4e0;
    --btn-main: #809b4c;
    --accent: #449489;
    --link-aft: #285763;
    --errortxt: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* put the font family in here later */
    font-family: sans-serif;
    font-size: 18px;
    color: var(--text-main);
    text-align: center;
}

body {
    background-color: var(--bg-main);
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1.4rem;
}

p {
    font-size: 1.4rem;
}

a:hover {
    color: var(--text-main);
}

.navbar {
    background: var(--nav-bg);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* z index high so that it is always visible */
    z-index: 999;
}

#user-greet {
    font-size: 1rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#home-button {  /*add text shadow later*/
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--btn-main);
    background-image: linear-gradient(to bottom, var(--text-main) 0%, var(--bg-main) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
    width: 200px;
}

.navbar-menu {
    width: 40%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.navbar-item {
    display: flex;
    width: 100px;
    font-size: 1rem;
    margin: 0 10px;
    justify-content: space-evenly;
}

.navbar-link {
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 1rem;
}

button {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--nav-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    background: var(--btn-main);
    font-size: 1.3rem;
    transition: all 0.3s ease;
    /* width: max-content; */
}

button:hover {
    scale: 1.1;
    color: var(--text-main);
}

input {
    font-size: 1.2rem;
    width: 60%;
    padding: 12px 10px;
    color: var(--nav-bg);
    background-color: var(--text-main);
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1.1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.page-container {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-header {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Press Start 2P', sans-serif;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.content-container {
    margin: 1.5rem 0;
}