/* COLOR PALETTE */
/* BG: 131313*/
/* NAVBAR: 000000*/
/* TEXT: fff4e0*/
/* BUTTONS: 809b4c*/
/* ACCENTS/LINK: 449489*/
/* LINK AFTER: 285763 */

:root {
    --bg-main: #131313;
    --nav-bg: #000000;
    --text-main: #fff4e0;
    --btn-main: #809b4c;
    --accent: #449489;
    --link-aft: #285763;
    --errortxt: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    color: var(--text-main);
}

body {
    background-color: var(--bg-main);
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--text-main);
}

.navbar {
    background: var(--nav-bg);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* z index high so that it is always visible */
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#home-button {  /*add text shadow later*/
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--btn-main);
    background-image: linear-gradient(to bottom, var(--text-main) 0%, var(--bg-main) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
    width: 200px;
}

.navbar-menu {
    width: 40%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.navbar-item {
    display: flex;
    width: 100px;
    font-size: 1rem;
    margin: 0 10px;
    justify-content: space-evenly;
}

.navbar-link {
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 1rem;
}

.navbar-link:hover {
    color: var(--text-main);
    transition: all 0.3s ease;
}

button {
    font-family: 'Press Start 2P', sans-serif;
    color: var(--nav-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1.5rem 1.5rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background: var(--btn-main);
    font-size: 2rem;
    transition: all 0.3s ease;
}

input {
    font-size: 1.5rem;
    width: 60%;
    padding: 12px 10px;
    color: var(--nav-bg);
    border: none;
    outline: none;
    border-radius: 10px;
}

button:hover {
    scale: 1.1;
    color: var(--text-main);
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    height: 540px;
    /* cursor: pointer; */
}

.gameImg {
    display: none;
}

.popup {
    background-color: silver;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    /* padding-top: 20px; */
    padding-bottom: 20px;
}

#charselect-text {
    position: relative;
    margin-top: 20px;
}

.character-select {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.characters {
    flex-direction: row;
}

.char-image {
    width: 96px;
    height: 96px;
    padding: 1px;
    border: 2px solid midnightblue;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;
}

.selected {
    border: 4px solid white;
}

.num-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

#game-start {
    position: relative;
    margin-top: -50px;
}

#invalid-num, #no-char-selected {  /*styling for error text on game option container*/
    color: red;
    font-size: 24px;
}

.invisible {
    visibility: hidden;
}

.error {
    outline: none;
    border: 2px solid red;
}

.hide { /*can be toggled on and off; gameImg should NOT be toggled, will be displayed using JS*/
    display: none;
}