* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

button {
    padding: 10px;
    border-radius: 5px;
    background: skyblue;
    border: none;
    outline: none;
    transition: 0.1s;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    background: navy;
    color: white;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 960px;
    height: 540px;
    /* cursor: pointer; */
}

.gameImg {
    display: none;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.character-select {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.char-image {
    width: 96px;
    height: 96px;
    padding: 1px;
    border: 5px solid black;
    flex-direction: row;
    margin: 5px;
    cursor: pointer;
}

.num-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#invalid-num {
    color: red;
    font-size: 24px;
}

.invisible {
    visibility: hidden;
}

.error {
    outline: none;
    border: 2px solid red;
}

.hide { /*can be toggled on and off; gameImg should NOT be toggled, will be displayed using JS*/
    display: none;
}