/* COLOR PALETTE */
/* BG: 131313*/
/* NAVBAR: 000000*/
/* TEXT: fff4e0*/
/* BUTTONS: 809b4c*/
/* ACCENTS/LINK: 449489*/
/* LINK AFTER: 285763 */

:root {
    --bg-main: #131313;
    --nav-bg: #000000;
    --text-main: #fff4e0;
    --btn-main: #809b4c;
    --accent: #449489;
    --link-aft: #285763;
    --errortxt: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* put the font family in here later */
    font-family: sans-serif;
    font-size: 18px;
    color: var(--text-main);
    text-align: center;
}

body {
    background-color: var(--bg-main);
}

a {
    color: var(--accent);
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    color: var(--text-main);
}

.navbar {
    background: var(--nav-bg);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    /* z index high so that it is always visible */
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 90px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

#home-button {  /*add text shadow later*/
    font-family: 'Press Start 2P', sans-serif;
    background-color: var(--btn-main);
    background-image: linear-gradient(to bottom, var(--text-main) 0%, var(--bg-main) 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.4rem;
    width: 200px;
}

.navbar-menu {
    width: 40%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.navbar-item {
    display: flex;
    width: 100px;
    font-size: 1rem;
    margin: 0 10px;
    justify-content: space-evenly;
}

.navbar-link {
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    font-size: 1rem;
}

button {
    color: var(--nav-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 1rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    background: var(--btn-main);
    font-size: 1.5rem;
    transition: all 0.2s ease;
}

button:hover {
    scale: 1.1;
    color: var(--text-main);
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
}

.navbar-link:hover {
    color: var(--text-main);
    transition: all 0.3s ease;
}

/* ABOUT */
.main {
    background-color: var(--bg-main);
    padding: 10rem 0;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: top;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    /* max-width: 1500px; */
    padding: 0 50px;
}

.about-content {
    color: var(--text-main);
    width: 80%;
}

.about-content h1 {
    font-size: 2rem;
    margin-bottom: 32px;
    text-align: center;
}

.about-content h2 {
    font-size: 1.6rem;
    text-align: center;
}

.about-content p {
    margin-top: 1rem;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.about-img-container {
    text-align: center;
}

.-about-img {
    margin: 10px;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.alt-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 90%;
    /* max-width: 1500px; */
    padding: 0 50px;
}

.alt-content {
    display: flex;
    flex-direction: column;
    color: var(--text-main);
    align-items: center;
    justify-content: center;
}

.alt-content h1 {
    font-size: 3rem;
    margin-bottom: 32px;
}

